.footer{
    background: #23252F;
}
ul{
    list-style: none;
  }
  .foot-but{
      color: #535FE6D6;
      border: 1px solid #535FE6D6;
      background: none;
      padding: 12px 5px;
      box-sizing: border-box;
      border-radius: 20px;
  }