.all{
    padding-bottom: 160px;
    }
    .black-second{
        margin: 0 auto;
    }
    
    .privat{
        color: white;
    }
    
    .blue{
        background: linear-gradient(#535FE6D6, #20C1CF91);
        height: 90px;
    }
    
    .deposit{
        border-radius: 20px;
    background: var(--Dark-Gray, #23252F);
    padding-bottom: 20px;
    } 
    
    .white{
        font-family: Gilroy;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.18px;
    text-align: left;
    color: white;
    }
    .gaga {
        box-sizing: border-box;
        border: 1px solid grey;
        border-radius: 20px;
        background: #23252F;
        padding: 10px; 
    }
    .param{
        &-p{
            color: white;
            width: 122px;
        }
    }
    
    .lke{
        height: 55px;;
        padding-top: 15px;
        .btn-check {
            display: none; 
          }
        
          .btn-outline-primary {
            border-color: transparent;
            box-shadow: none;
          }
    }
    
    
    
    .prp{
        color:  #20C1CF;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    
    &-p{
        color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    }
    }
     .starts{
        color:  #FFF;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 600;
     
    .june{
        color: #5E647A;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 600;
    }
     }
        .info {
            height: 59%;
            width: 157%;
            box-sizing: border-box;
            background: linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
            margin-top: 91px; 
            border-radius: 60px 20px 20px 20px;
           
            .infoh {
                font-size: 72px;
                font-weight: 600;
                color: white;
            }
            &-p{
                color: var(--White, #FFF);
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
            }
     }
     .background{
        background: linear-gradient(324.25deg, rgba(83, 95, 230, 0.84) 30.14%, rgba(32, 193, 207, 0.57) 89.37%);
        border-radius: 60px 20px 20px 20px;
        padding: 24px 0;
     }
     .blue-p{
        color: var(--White, #FFF);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
     }
    
     .new-p{
        color: var(--White, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
     }
    
    .img{
    padding-top: 60px;
    padding-bottom: 80px;
    }